.jumbotron {
  text-align: center;
}

.card-area {
  width: 50%;
  max-width: 50%;
  margin: auto;
}

.card-columns {
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
}

.card {
  height: 18vh;
}

.card-img {
  height: 100%;
  width: 100%;
  background-size: cover;
}