.jumbotron {
  text-align: center;
  height: 25vh;
}

.card-area {
  width: 50%;
  max-width: 50%;
  margin: auto;
}

.card-columns {
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
}

.card {
  height: 17vh;
}

.card-img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.score-container {
  max-width: 50%;
  margin: auto;
  padding-bottom: 2em;
}

.score-right {
  text-align: right;
}

.col {
  padding: 0 !important;
}

.game-msg {
  text-align: center;
  position: absolute;
  right: 0%;
  z-index: 9999;
}

.message--flash {
  animation: blink .5s ease-out;
}

@keyframes blink {
	0% {opacity: 0;}
	49%{opacity: 0;}
  50% {opacity: 1;}
}




.correct {
  color: green;
}

.incorrect {
  color: red;
}

.correct, .incorrect {
  text-transform: capitalize;
}